<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        
        <header class = "center-align">
            <h1>TASKER</h1>
        </header>



    </main>
    <footer>

    </footer>
</body>
</html>